@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5% 20%;
    height: 100vh;
    background: no-repeat center/100% url('evgeni-tcherkasski-yRqSop1Li4Y-unsplash.jpg');
    color: white;
    overflow: scroll;
    background-color: black;
}
.mainArea{
    padding: 1% 0%;
}
.otherArea{
    padding: 1% 0;
    border: 2px solid lightgreen;
    border-radius: 10px;
}
@media screen and (max-width: 780px){
    body{
        background: no-repeat top/120% url('evgeni-tcherkasski-yRqSop1Li4Y-unsplash.jpg');
        background-color: black;
    }
}